@model NXtelManager.Models.PageEditModel
@{
    var page = Model.Page;
    ViewBag.Title = (page.Title ?? "").Trim();
    var btnCaption = "Edit Page";
    string pageID = @page.PageID <= 0 ? "NEW" : @page.PageID.ToString();
    string pageNo = @page.PageID <= 0 ? "" : @page.PageNo.ToString();
    string subPage = @page.PageID <= 0 ? "" : @page.SubPage.ToString();
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
@using (Html.BeginForm("Edit", "Page", new { id = page.PageID }))
{
    @Html.AntiForgeryToken()
    <table id="tblEdit" class="edit">
        <tbody>
            <tr>
                <td class="lbl">Page ID:</td>
                <td class="data" colspan="5">@pageID@Html.Hidden("PageID", @page.PageID)</td>
            </tr>
            <tr>
                <td class="lbl">Title:</td>
                <td class="data" colspan="5">@Html.TextBox("PageID", page.Title, new { style = "width:100%;max-width:initial" })</td>
            </tr>
            <tr>
                <td class="lbl">Page No:</td>
                <td class="data">@Html.TextBox("PageNo", pageNo)</td>
            </tr>
            <tr>
                <td class="lbl">Sub Page:</td>
                <td class="data">@Html.TextBox("SubPage", subPage)</td>
            </tr>
            <tr>
                <td class="lbl">Box Mode:</td>
                <td class="data">@Html.CheckBox("BoxMode", page.BoxMode)</td>
            </tr>
            <tr>
                <td class="lbl">URL:</td>
                <td class="data">@Html.TextArea("URL", page.URL)</td>
            </tr>
            <tr>
                <td class="lbl" style="vertical-align:top">
                    <button onclick="launchEditor();return false;">@btnCaption</button>
                </td>
                <td class="data">
                    <div id="canvasframePreview">
                        <canvas id="framePreview" width="960" height="1000" style="width: 576px; height: 500px;"></canvas>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <input type="submit" value="Save" class="btn btn-default" />
    @Html.ActionLink("Back to List", "Index", "Pages")
}

@section head {
<link type="text/css" rel="stylesheet" href="~/Content/teletext.css" />
}

@section editor {
@Html.Partial("_Editor")
}

@section Scripts {
<script type="text/javascript" src="~/Scripts/teletext-editor.js"></script>
<script type="text/javascript" src="~/Scripts/editor.js"></script>
}
