@model NXtelData.Pages
@{
    ViewBag.Title = "Pages";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<table class="paged" style="width:auto">
    <thead>
        <tr>
            <th style="text-align:right">From Page</th>
            <th style="text-align:right">To Page</th>
            <th>Title</th>
      </tr>
    </thead>
    <tbody>
        @foreach (NXtelData.Page page in Model)
        {
            <tr>
                <td style="text-align:right;padding-right:32px">@Html.ActionLink(@page.PageAndFrame, "Edit", "Page", new { id = page.PageID }, null)</td>
                <td style="text-align:right;padding-right:32px">@Html.ActionLink(@page.ToPageAndFrame, "Edit", "Page", new { id = page.PageID }, null)</td>
                <td>@Html.ActionLink(@page.Title, "Edit", "Page", new { id = page.PageID }, null)</td>
       </tr>
        }
    </tbody>
</table>
<br/>
@Html.ActionLink("New Page", "Edit", "Page", null, new { @class = "btn btn-primary" })

@section scripts {
    <script type="text/javascript">
        $(function () {
            $("table.paged").DataTable();
        });
    </script>
}