@model NXtelData.Pages
@{
    ViewBag.Title = "Pages";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<table>
    <thead>
        <tr>
            <th>Page</th>
            <th>Frame</th>
            <th>Title</th>
      </tr>
    </thead>
    <tbody>
        @foreach (NXtelData.Page page in Model)
        {
            <tr>
                <td>@Html.ActionLink(@page.PageNo.ToString(), "Edit", "Page", new { id = page.PageID }, null)</td>
                <td>@Html.ActionLink(@page.Frame, "Edit", "Page", new { id = page.PageID }, null)</td>
                <td>@Html.ActionLink(@page.Title, "Edit", "Page", new { id = page.PageID }, null)</td>
       </tr>
        }
    </tbody>
</table>
@Html.ActionLink("New Page", "Edit", "Page")