@using NXtelData
@model NXtelManager.Models.FileIndexModel
@{
    ViewBag.Title = "Files";
    string tablePageSize = NXtelData.UserPreferences.Get(System.Security
        .Principal.IPrincipalExtensions.GetUserID(User), "TablePageSize", "10");
    string val = "";
    string val2 = "";
    string val3 = "";
    string mine = Model.Permissions.IsAdmin ? "Owned?" : "Editable?";
}
<h1>@ViewBag.Title</h1>
<h3>@ViewBag.Message</h3>
<table id="FileList"  class="paged" style="width:auto">
    <thead>
        <tr>
            <th>Key</th>
            <th>File Name</th>
            <th>Editable</th>
            <th style="display:none"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (TSFile file in Model.Files)
        {
            bool can = Model.Permissions.Can(file);
            string cls = can ? "unlocked" : "locked";
            val = can ? "You don't have permission to edit this file" : "You have permission to edit this file";
            val2 = can ? "0" : "1";
            val3 = Model.Permissions.IsAdmin ? (file.OwnerID == Model.Permissions.User.UserNo ? "0" : "1") : val2;
            <tr>
                <td>@Html.ActionLink(string.IsNullOrWhiteSpace(@file.Key) ? "[None]" : @file.Key, "Edit", "File", new { id = file.TeleSoftwareID }, null)</td>
                <td>@Html.ActionLink(string.IsNullOrWhiteSpace(@file.FileName) ? "[None]" : @file.FileName, "Edit", "File", new { id = file.TeleSoftwareID }, null)</td>
                <td class="lock @cls" title="@val">@val2</td>
                <td style="display:none">@val3</td>
         </tr>
        }
    </tbody>
</table>
<br />
@Html.ActionLink("New File", "Edit", "File", null, new { @class = "btn btn-primary" })

<div id="FileList_XXX_filter" style="display:none">
    <div class="dataTables_mine">
        <div class="col-sm-6">
            <label style="font-weight:normal">
                @Html.CheckBoxFor(model => model.Files.MineFilter, new { @class = "form-control input-sm", style = "width:auto;display:inline;height:auto", id = "ZoneMine_XXX" })
                <span style="top:3px;position:relative">@mine</span>
            </label>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $("table.paged").DataTable({ pageLength: @tablePageSize });
            $(".dataTables_length select").change(function () {
                setUserPreference("TablePageSize", $(".dataTables_length select").val());
            });
            setupZoneFilter();
            $("#ZoneMine_0").change(function () {
                var x = $("#ZoneMine_0").is(":checked");
                filter();
                setUserPreference("PageIndexMine", $("#ZoneMine_0").is(":checked"));
            });
        });

        function setupZoneFilter() {
            var html = $("#FileList_XXX_filter").html().replace(/XXX/g, "0");
            $("#FileList_wrapper .row:first-child").append(html);
            filter();
        }

        function filter() {
            var mine = $("#ZoneMine_0").is(":checked");
            $("#FileList").DataTable()
                .columns(3).search(getMineRegex(mine), true, false)
                .draw();
        }

        function getMineRegex(checked) {
            if (checked) {
                return "^0$";
            } else {
                return "";
            }
        }
    </script>
}