@model NXtelManager.Models.IndexViewModel
@{
    ViewBag.Title = "My Account";
    bool admin = User.IsInRole("Admin");
    bool pageEditor = User.IsInRole("Page Editor");
}

<h1>@ViewBag.Title</h1>
<p class="text-success">@ViewBag.StatusMessage</p>

<table id="ManageUser">
    <tbody>
        <tr>
            <td class="lbl">Email:</td>
            <td class="data">@Model.Email</td>
        </tr>
        <tr>
            <td class="lbl">Mailbox:</td>
            <td class="data">@Model.Mailbox</td>
        </tr>
        @if (pageEditor && !admin)
        {
            string desc = Model.PageRanges.Count <= 1 ? "Page Range:" : "Page Ranges:";
            <tr>
                <td class="lbl" style="vertical-align:text-top">@desc</td>
                <td class="data">
                    <table class="inner">
                        @foreach (var pr in Model.PageRanges)
                        {
                            <tr>
                                <td style="text-align:right">@pr.FromPageNo</td>
                                <td>-</td>
                                <td style="text-align:right">@pr.ToPageNo</td>
                            </tr>
                        }
                        @if (Model.PageRanges.Count == 0)
                        {
                            <tr><td>All</td></tr>
                        }
                    </table>
                </td>
            </tr>
        }
        <tr>
            <td class="lbl">Password:</td>
            <td>
                @if (Model.HasPassword)
            {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
            </td>
        </tr>
    </tbody>
</table>
