@model NXtelData.Template
@{
    var template = Model;
    ViewBag.Title = "Edit Template";
    var btnCaption = "Edit Template";
    string templateID = @template.TemplateID <= 0 ? "NEW" : @template.TemplateID.ToString();
    string x = @template.TemplateID <= 0 ? "" : @template.X.ToString();
    string y = @template.TemplateID <= 0 ? "" : @template.Y.ToString();
    string width = @template.TemplateID <= 0 ? "" : @template.Width.ToString();
    string height = @template.TemplateID <= 0 ? "" : @template.Height.ToString();
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
@using (Html.BeginForm("Edit", "Template", new { id = template.TemplateID }))
{
    @Html.AntiForgeryToken()
    <table id="tblEdit" class="edit">
        <tbody>
            <tr>
                <td class="lbl">Template ID:</td>
                <td class="data" colspan="5">@templateID@Html.Hidden("TemplateID", @template.TemplateID)</td>
            </tr>
            <tr>
                <td class="lbl">Description:</td>
                <td class="data" colspan="5">@Html.TextBox("Description", template.Description, new { maxlength = 30, style = "width:100%;max-width:initial" })</td>
            </tr>
            <tr>
                <td class="lbl">URL:</td>
                <td class="data">@Html.TextArea("URL", template.URL)</td>
            </tr>
            <tr>
                <td class="lbl" style="vertical-align:top">
                    <button onclick="launchEditor();return false;" class="btn btn-default">@btnCaption</button>
                </td>
                <td class="data">
                    <div id="canvasframePreview">
                        <canvas id="framePreview" width="960" height="1000" style="width: 576px; height: 500px;"></canvas>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="lbl">X:</td>
                <td class="data">@Html.TextBox("X", x, new { maxlength = 2 })</td>
            </tr>
            <tr>
                <td class="lbl">Y:</td>
                <td class="data">@Html.TextBox("Y", y, new { maxlength = 2 })</td>
            </tr>
            <tr>
                <td class="lbl">Width:</td>
                <td class="data">@Html.TextBox("Width", width, new { maxlength = 2 })</td>
            </tr>
            <tr>
                <td class="lbl">Height:</td>
                <td class="data">@Html.TextBox("Height", height, new { maxlength = 2 })</td>
            </tr>
            <tr>
                <td class="lbl">Expression:</td>
                <td class="data">@Html.TextBox("Expression", template.Expression, new { maxlength = 100, style = "width:100%;max-width:initial" })</td>
            </tr>
       </tbody>
    </table>
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <input type="submit" value="Save" name="action:Save" class="btn btn-primary" />
    <input type="submit" value="Delete" name="action:Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this template?');" />
    @Html.ActionLink("Back to Template List", "Index")
}

@section head {
    <link type="text/css" rel="stylesheet" href="~/Content/teletext.css" />
}

@section editor {
    @Html.Partial("_Editor")
}

@section Scripts {
    <script type="text/javascript" src="~/Scripts/teletext-editor.js"></script>
    <script type="text/javascript" src="~/Scripts/editor.js"></script>
}
