@using NXtelData
@model NXtelManager.Models.TemplateIndexModel
@{
    ViewBag.Title = "Templates";
    string tablePageSize = NXtelData.UserPreferences.Get(System.Security
        .Principal.IPrincipalExtensions.GetUserID(User), "TablePageSize", "10");
    string val = "";
    string val2 = "";
    string val3 = "";
    string mine = Model.Permissions.IsAdmin ? "Owned?" : "Editable?";
}
<h1>@ViewBag.Title</h1>
<h3>@ViewBag.Message</h3>
<table id="TemplateList" class="paged" style="width:auto">
    <thead>
        <tr>
            <th>Template</th>
            <th>Editable</th>
            <th style="display:none"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Template template in Model.Templates)
        {
            bool can = Model.Permissions.Can(template);
            string cls = can ? "unlocked" : "locked";
            val = can ? "You have permission to edit this template" : "You don't have permission to edit this template";
            val2 = can ? "0" : "1";
            val3 = Model.Permissions.IsAdmin ? (template.OwnerID == Model.Permissions.User.UserNo ? "0" : "1") : val2;
            int children = @template.CountChildren();
            string desc = @template.Description + (children == 0 ? "" : " (+" + children + ")");
            <tr>
                <td>@Html.ActionLink(@desc, "Edit", "Template", new { id = template.TemplateID }, null)</td>
                <td class="lock @cls" title="@val">@val2</td>
                <td style="display:none">@val3</td>
            </tr>
        }
    </tbody>
</table>
<br />
@Html.ActionLink("New Template", "Edit", "Template", null, new { @class = "btn btn-primary" })

<div id="TemplateList_XXX_filter" style="display:none">
    <div class="dataTables_mine">
        <div class="col-sm-6">
            <label style="font-weight:normal">
                @Html.CheckBoxFor(model => model.Templates.MineFilter, new { @class = "form-control input-sm", style = "width:auto;display:inline;height:auto", id = "ZoneMine_XXX" })
                <span style="top:3px;position:relative">@mine</span>
            </label>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $("table.paged").DataTable({ pageLength: @tablePageSize });
            $(".dataTables_length select").change(function () {
                setUserPreference("TablePageSize", $(".dataTables_length select").val());
            });
            setupZoneFilter();
            $("#ZoneMine_0").change(function () {
                var x = $("#ZoneMine_0").is(":checked");
                filter();
                setUserPreference("PageIndexMine", $("#ZoneMine_0").is(":checked"));
            });
        });

        function setupZoneFilter() {
            var html = $("#TemplateList_XXX_filter").html().replace(/XXX/g, "0");
            $("#TemplateList_wrapper .row:first-child").append(html);
            filter();
        }

        function filter() {
            var mine = $("#ZoneMine_0").is(":checked");
            $("#TemplateList").DataTable()
                .columns(2).search(getMineRegex(mine), true, false)
                .draw();
        }

        function getMineRegex(checked) {
            if (checked) {
                return "^0$";
            } else {
                return "";
            }
        }
    </script>
}