@model NXtelData.Templates
@{
    ViewBag.Title = "Templates";
}
<h1>@ViewBag.Title</h1>
<h3>@ViewBag.Message</h3>
<table class="paged" style="width:auto">
    <thead>
        <tr>
            <th>Template</th>
        </tr>
    </thead>
    <tbody>
        @foreach (NXtelData.Template template in Model)
        {
            int children = @template.CountChildren();
            string desc = @template.Description + (children == 0 ? "" : " (+" + children + ")");
            <tr>
                <td>@Html.ActionLink(@desc, "Edit", "Template", new { id = template.TemplateID }, null)</td>
            </tr>
        }
    </tbody>
</table>
<br />
@Html.ActionLink("New Template", "Edit", "Template", null, new { @class = "btn btn-primary" })

@section scripts {
    <script type="text/javascript">
        $(function () {
            $("table.paged").DataTable();
        });
    </script>
}