@{ 
    bool LoggedIn = ViewBag.NotLoggedID == null;
    bool ShowHeader = ViewBag.HideHeader == null;
    bool admin = User.IsInRole("Admin");
    bool pageEditor = User.IsInRole("Page Editor");
    string version = "v" + MvcApplication.ApplicationVersion;
    string appName = NXtelData.Options.AppName;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @appName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("head", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (ShowHeader) {
                    @Html.ActionLink(appName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated && LoggedIn && ShowHeader && admin)
                    {
                      <li>@Html.ActionLink("Admin", "Index", "Server")</li>
                    }
                    @if (User.Identity.IsAuthenticated && LoggedIn && ShowHeader && pageEditor)
                    {
                      <li>@Html.ActionLink("Pages", "Index", "Page")</li>
                      <li>@Html.ActionLink("Templates", "Index", "Template")</li>
                      <li>@Html.ActionLink("Files", "Index", "File")</li>
                    }
                    @if (ShowHeader && !admin)
                    {
                      <li>@Html.ActionLink("Statistics", "Summary", "Statistics")</li>
                    }
                </ul>
                @if (ShowHeader)
                {
                    @Html.Partial("_LoginPartial")
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="margin-bottom:0">NXtel @version</p>
            <p>&copy; 2018-@DateTime.Now.Year Robin Verhagen-Guest</p>
        </footer>
    </div>
    @RenderSection("editor", required: false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
