@{
    ViewBag.Title = @NXtelData.Options.ProductName;
    string appName = NXtelData.Options.AppName;
}
<h2>Welcome to the @appName Dashboard</h2>

@Html.Partial("_psa")

<p>Looking for the <a href="https://github.com/Threetwosevensixseven/NXtel/wiki/FAQ" target="_blank">FAQ</a>?</p>

@if (NXtelData.Options.DisableAccountRegistration)
{
    <p>Click @Html.ActionLink("here", "Login", "Account") to login.</p>
}
else
{
    <p>Click @Html.ActionLink("here", "Login", "Account") to login, or @Html.ActionLink("here", "Register", "Account") to register an account.</p>
}


