@model NXtelData.ServerStatus
@{
    ViewBag.Title = "Admin Console";
    
}
<h1>@ViewBag.Title</h1>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ActionLink("Users", "Index", "User")<text>&nbsp;</text>
    @Html.ActionLink("Zones", "Index", "Zone")
    <br /><br />
    <p>Server Location:</p>
    <pre>@Model.Location</pre>
    <p>Log File (<b>@Model.LogFileSize Bytes</b>):</p>
    <pre>@NXtelData.Options.LogFile</pre>
    <p>Server Status: <b style="color:@Model.StatusColor">@Model.Status</b></p>
    <br />
    <div>
        <input type="submit" value="Refresh" name="action:Refresh" class="btn btn-default" />
        <input type="submit" value="Start" name="action:Start" class="btn btn-success @Model.StartClass" />
        <input type="submit" value="Stop" name="action:Stop" class="btn btn-danger @Model.StopClass" />
        <input type="submit" value="Restart" name="action:Restart" class="btn btn-warning @Model.StopClass" />
        <span>@Html.CheckBox("StartVisible", @Model.StartVisible)&nbsp;Start&nbsp;Visible?</span>
    </div>
    <br />
    <div>
        <input type="submit" value="Download Log" name="action:DownloadLog" class="btn btn-default" />
        <input type="submit" value="Empty Log" name="action:EmptyLog" class="btn btn-danger" />
    </div>
    <br />
    <div>

        @Html.ActionLink("Backup Database", "Backup", null, new { @class = "btn btn-default" })
    </div>
}
